<div id="custom_banner">
  <div class="custom_banner_inner">
    <% if !logged_in? %>
      <h1>Learning to code?</h1>
      <span>Don't do it alone!</span><br><br>
      <%= link_to "Sign Up", register_path, class: "btn btn-primary btn-lg" %>
    <% else %>
      <h1>HashOut!</h1>
      <%= link_to "Define a new function :)", new_function_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
<div class="main">
  <div class="latest_functions">
    <% @functions.each do |f| %>
    <%= link_to f.short_name, function_path(f), class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
