/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
body {
  background-color: #222!important;
  font-family: 'Encode Sans Expanded', sans-serif !important;
}
.main {
  background: #3159dc;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #8cd5ff, #3159dc);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #8cd5ff, #3159dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-linear-gradient(to bottom, #ffffff, #3159dc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff, #3159dc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 300px;
}

.main {
  padding: 30px 20px 50px;
}

.latest_functions {
  text-align: center;
}
.latest_functions a {
  margin: 5px;
  font-weight: bold;
}

.footer-bottom {
  background-color: #222;
  width: 100%;
  height: 200px;
  clear: both;
  // position: fixed;
  // bottom: 0;
}

.footer-bottom .container {
  background-color: #222;
  color: #F5F5F5;
  margin-top: 70px
}

.copyright-text p {
    color: #ccc;
    margin-top: 9px;
    margin-bottom: 0;
}
.social-link {
    text-align: right;
}
.social-link li {
    display: inline-block;
    margin: 0 5px;
}
.social-link li a {
    color: #ccc;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: .5s;
}
label {
  font-size: 1.2rem;
}
.user_show.container {
  padding: 20px;
}
.container.user_edit_form {
  max-width: 800px;
  padding: 30px;
}
.user_show .user_basic h2,
.user_show .user_basic h3,
.user_show .user_bio h4
{
  width: 100%;
  text-align: center;
  margin: 10px auto;
}
.user_show .user_social, .user_show .user_basic {
  text-align: center;
}
.user_show .user_bio {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.user_show .user_social i {
  margin: 10px;
  font-size: 30px;
}

.user_show_img_holder {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}
.user_show_img_holder img {
  max-height: 100%;
  min-height: 100%;
}

.user_buttons {
  text-align: center;
}
.user_buttons a {
  display: block;
  max-width: 200px;
  margin: 10px auto
}

nav.navbar {

}
.container.functions_list {
  padding: 20px;
}
.functions_list h2 {
  text-align: center;
  font-weight: bold;
  max-width: 600px;
  margin: 0 auto 30px;
}
.container {
  background:#fff;
  border-radius: 10px;
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.1)
}
.container.log_in {
  max-width: 400px;
}
#custom_banner {
  background-image: url('https://picsum.photos/2000/600/?random');
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom_banner_inner {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.logged_in_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.logged_in_img img {
  max-height: 110%;
  max-width: 110%;
}

.dropdown-menu {
  left: auto !important;
  right: 0 !important;
}

.dropdown-toggle::after {
  top: 50%;
  // right: 70px;
  left: -15px;
  position: absolute;
}
.panel-heading {
  position: relative;
}
.panel-heading h4 {
  font-size: 1.3rem;
}
.panel {
  padding: 20px;
  border-radius: 10px;
  color: #FFF;
  margin-bottom: 10px;
}
.panel-heading a.collapsed:after {
  content:"}";
}
.panel-collapse:after {
  content: "}";
  color: #2196F3;
  font-size: 1.21875rem;
}
.panel-body {
  padding: 20px 20px 30px;
  // background-color: #0144ff14;
  background-color: #222;
  border-radius: 10px;
  font-size: 1rem;
}
.panel-body span {
  color: #ff7907;
}
.panel-body .f_l_img {
  display: block;
  float: right;
  overflow: hidden;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}
.panel-body .f_l_img img {
  max-height: 110%;
  max-width: 110%;
  border-radius: 10px;
}

.login-block{
  width:100%;
  padding : 50px 0;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.login-block .container {background:#fff; border-radius: 10px;}
// .container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #3159dc;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#8cd5ff; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #3159dc; color:#fff; font-weight:600;}
.banner-text{width:100%; position:absolute; bottom:40px; padding-left:20px; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);}
.banner-text h2{color:#fff; font-weight:600;}
// .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

.container.locations_list {
  padding: 20px;
  background: none;
  box-shadow: unset;
}
.locations_list .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.locations_list .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.locations_list .column a {
    display: block;
    position: relative;
    border-radius: 10px;
    margin-top: 8px;
    max-height: 400px;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
}
.locations_list .column a img {
  max-width: 100%;
}

.locations_list .column a:hover .overlay {
  opacity: 0.5;
}
.locations_list .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.locations_list .text {
  z-index: 20;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.locations_list .text span {
  font-size: 0.9rem;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .locations_list .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .locations_list .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
  .dropdown-toggle::after {
    display: none !important;
  }
}
