
<br>

<div class="container">
  <div class="row">
    <div class"col-12">

        <% @locations.each do |location| %>
        <%= link_to location.name, location_path(location) %>
        <%= "Number of coders who have studied at our venue! #{location.number_of_users}." %>
        <br>
        <hr>
        <% end %>
    </div>
  </div>
</div>
